"""
This file is an example of the .env file that is needed to run this application.
Copy this file to .env and update the values to match your configuration.
"""

EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_app_password